{% extends "base.html" %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="{% static 'css/calendar.css' %}">
{% endblock %}
{% block content %}
<div class="container-datetime">
    <div class="calendar-container">
        <div id="calendar" class="calendar"></div>
    </div>
    <div class="time-container">
        <div class="horario">
            <label for="hora">Hora:</label>
            <input type="number" id="hora" name="hora" min="0" max="23" placeholder="00">
    
            <label for="minuto">Minuto:</label>
            <input type="number" id="minuto" name="minuto" min="0" max="59" placeholder="00">
        </div>
        
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>
<script src="{% static 'js/calendar.js' %}"></script>
<script>
  

</script>
{% endblock %}


