{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="table-container">
  <h1>Equipamentos</h1>
  <button class="button-registry">
    <a href={% url "equipment_create" %}>+ Adicionar Equipamento</a>
  </button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome do equipamento</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
        {% for equipment in equipment_list %}
        <tr>
            <th scope="row">{{equipment.pk}}</th>
            <td>{{equipment.nameEquipment}}</td>
            <td class="actions">
                <button class="btn btn-outline-primary" onclick="window.location.href='{% url 'equipment_update' pk=equipment.pk %}'">
                  Editar
                </button>
                
                <button class="btn btn-outline-danger" onclick="window.location.href='{% url 'equipment_delete' pk=equipment.pk %}'">
                  Excluir
                
                </button>
      
            </td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

  
{% endblock content %}