{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<form method="post">
    {% csrf_token %}
    <div></div>
    <fieldset>
        <h3 class="h3">Editando Agendamento</h3>
        {{ occupancyForm|crispy }}
    </fieldset>
    <div class="row g-3">
        <div class="offset-8 col-2">
            <a href="javascript:history.back()" class="btn btn-danger btn-lg">Cancelar</a>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-success btn-lg" style="width: 100%;">Salvar</button>
        </div>
    </div>
  </form>
  <script>
  $('.datepicker').datepicker({
    format: 'dd/mm/yyyy',
    language: 'pt-BR',
    autoclose: true
  });
</script>
{% endblock content %}

