{% extends "base.html" %}

{% load static %}

{% block content %}
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<h1>Realizando Agendamento da Sala {{ room.nameRoom }}</h1>
<div class="container-fullscreen" data-idroom="{{idRoom}}" id="container">
    {% csrf_token %}
    <div class="calendar-container">
        <div id="calendar" class="calendar"></div>
    </div>
</div>

<div id="schedule-modal" class="modal-overlay">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h3 id="modal-date-title" class="h3">Agendar Horário</h3>
        
        <table >
            <thead>
                <tr>
                    <td colspan="3">
                        <h4 class="h4" style="margin-left: 15px;">Novo Horário</h4>
                    </td>
                </tr>
                <tr>
                    <th>Ocupante</th>
                    <th>Hora Inicial</th>
                    <th>Hora Final</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-novo-horario">
                        <select name="occupantRoom" id="occupantRoom" class="form-control" required>
                        <option value="" disabled selected>-- Selecione um ocupante --</option>   
                            {% for occupant in occupants %}
                                <option value="{{ occupant.id }}">{{ occupant.firstName }} {{ occupant.lastName }}</option>
                            {% endfor %}
                               
                        </select>
                    </td>
                    <td class="td-novo-horario">
                        <input class="form-control" type="time" name="time_start" id="time_start">
                    </td>
            
                    <td class="td-novo-horario">
                        <input class="form-control" type="time" name="time_end" id="time_end">
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <button type="button" onclick="addTime()" class="btn btn-success adicionar-horario">+ Adicionar Horário</button>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <hr>

        <div id="schedule-list">
            <table>
                <thead>
                    <tr>
                        <td colspan="4">
                            <h4 class="h4" style="margin-left: 15px;">Horarios agendados</h4>
                        </td>
                    </tr>
                    <tr>
                        <th>Ocupante</th>
                        <th>Hora Inicial</th>
                        <th>Hora Final</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="list">
                    <!-- Os horários agendados serão inseridos aqui -->
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>
<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}