{% extends "base.html" %}

{% load static %}
{% block content %}
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<div class="container-datetime" data-idroom="{{idRoom}}" id="container">
    {% csrf_token %}
    <div class="calendar-container">
        <div id="calendar" class="calendar"></div>
    </div>
    <div class="time-container">
        <div class="">

            <div class="horario">
                <label for="hora">Tempo Inicial:</label>
                <input type="time" name="time_start" id="time_start">
            </div>
    
            <div class="horario">
                <label for="hora">Tempo Final:</label>
                <input type="time" name="time_end" id="time_end">
            </div>

            <div>
                <select name="" id="occupantRoom">
                    <option value="">Nenhum Ocupante</option>
                    {% for occupant in occupants %}
                        <option value="{{ occupant.id }}">{{occupant.firstName}}</option>
                    {% endfor %}
                       
                </select>
                <!-- <input type="text" id="name_occupant" name="name_occupant"> -->
            </div>
            
            <button type="submit" onclick="addTime()">+ Adicionar Horário</button>
        </div>

        <div id="schedule-list">
            <h4>Horários</h4>
            <div id="list">
               <!-- <button id="edit-time">Editar Horário</button>
            <button id="delete-time">Cancelar Horário</button> -->
            </div>
        </div>
    
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>
<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}


