{% extends "base.html" %}

{% load static %}

{% block content %}
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<h1>Realizando Agendamento da Sala {{ room.nameRoom }}</h1>
<div class="container-fullscreen" data-idroom="{{idRoom}}" id="container">
    {% csrf_token %}
    <div class="calendar-container">
        <div id="calendar" class="calendar"></div>
    </div>
</div>

<div id="schedule-modal" class="modal-overlay">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h3 id="modal-date-title" class="h3">Agendar Horário</h3>
        
        <table >
            <thead>
                <tr>
                    <td colspan="3">
                        <h4 class="h4" style="margin-left: 15px;">Novo Horário</h4>
                    </td>
                </tr>
                <tr>
                    <th>Ocupante</th>
                    <th>Hora Inicial</th>
                    <th>Hora Final</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-novo-horario">
                        <input type="text" name="occupantRoom" id="occupantRoom" class="form-control">
                    </td>
                    <td class="td-novo-horario">
                        <input class="form-control" type="time" name="time_start" id="time_start">
                    </td>
            
                    <td class="td-novo-horario">
                        <input class="form-control" type="time" name="time_end" id="time_end">
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="td-novo-horario">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="recurrent-schedule-checkbox">
                            <label class="form-check-label" for="recurrent-schedule-checkbox">
                                Agendamento recorrente
                            </label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="recurrent-schedule-section" style="display: none;">
            <hr>
            <h4 class="h4">Detalhes da Recorrência</h4>
            <div class="row">
                <div class="col-12 mb-3">
                    <label class="form-label">Repetir nos dias:</label>
                    <div class="d-flex justify-content-around">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="weekday" id="weekday-1" value="0">
                            <label class="form-check-label" for="weekday-1">Seg</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="weekday" id="weekday-2" value="1">
                            <label class="form-check-label" for="weekday-2">Ter</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="weekday" id="weekday-3" value="2">
                            <label class="form-check-label" for="weekday-3">Qua</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="weekday" id="weekday-4" value="3">
                            <label class="form-check-label" for="weekday-4">Qui</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="weekday" id="weekday-5" value="4">
                            <label class="form-check-label" for="weekday-5">Sex</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="weekday" id="weekday-6" value="5">
                            <label class="form-check-label" for="weekday-6">Sáb</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="weekday-0" id="weekday-0" value="6">
                            <label class="form-check-label" for="weekday-0">Dom</label>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <label for="recurrent-start-date" class="form-label">Início da Repetição:</label>
                    <input type="date" class="form-control" id="recurrent-start-date">
                </div>
                <div class="col-6">
                    <label for="recurrent-end-date" class="form-label">Fim da Repetição:</label>
                    <input type="date" class="form-control" id="recurrent-end-date">
                </div>
            </div>
        </div>
        <table>
            <tbody>
                <tr>
                    <td colspan="3">
                        <button type="button" id="add-schedule-button" class="btn btn-success adicionar-horario">+ Adicionar Horário</button>                    </td>
                </tr>
            </tbody>
        </table>
        
        <hr>

        <div id="schedule-list">
            <table>
                <thead>
                    <tr>
                        <td colspan="4">
                            <h4 class="h4" style="margin-left: 15px;">Horarios agendados</h4>
                        </td>
                    </tr>
                    <tr>
                        <th>Ocupante</th>
                        <th>Hora Inicial</th>
                        <th>Hora Final</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="list">
                    </tbody>
            </table>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>
<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}