{% extends "base.html" %}

{% load static %}

{% block content %}
  <h1>Visualizando detalhes do Espaço</h1>
  <p>Nome: {{ room.nameRoom }}</p>
  <p>Capacidade: {{ room.headCount }} pessoas</p>
  <p>Gerente: {{ room.roomManager.name }}</p>

  <h3>Equipamentos no Espaço</h3>
  <ul>
    {% if equipment %}
      <ul>
        {% for equip in equipment %}
          <li>{{ equip.equipment.nameEquipment }} - Quantidade: {{ equip.amount }}</li>
      
    {% endfor %}
  </ul>
  {% else %}
    <p>Nenhum equipamento cadastrado.</p>
  {% endif %}


{% endblock %}
