{% extends "base.html" %}

{% load static %}

{% block content %}

  <h1>Visualizando detalhes do Espaço</h1>

  
  <h3 class="h3">Detalhes:</h3>
  <div class="row">
    <p class="col-6 lead">Nome:<span class="text-muted"> {{ room.nameRoom }}</span></p>
    <p class="col-6 lead">Capacidade:<span class="text-muted"> {{ room.headCount }} pessoas</span></p>
    <p class="col-6 lead">Gerente:<span class="text-muted"> {{ room.roomManager.name }}</span></p>
  </div>

  <hr>
  
  <h3 class="h3">Equipamentos no Espaço:</h3>
  {% if equipment %}
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Equipamento</th>
          <th scope="col">Quantidade</th>
        </tr>
      </thead>
      <tbody>
        {% for equip in equipment %}
        <tr>
          <td>{{ equip.equipment.nameEquipment }}</td>
          <td>{{ equip.amount }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Nenhum equipamento cadastrado.</p>
  {% endif %}


{% endblock %}
