{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    {% if form.instance.pk %}
        <h1>Editando Usuário</h1>
    {% else %}
        <h1>Adicionando Usuário</h1>
        <br>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="row g-3">
            <div class="offset-8 col-2">
                <a href="javascript:history.back()" class="btn btn-danger btn-lg">Cancelar</a>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-success btn-lg" style="width: 100%;">Salvar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
