{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h1>Redefinir Senha</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="new_password" class="form-label">Nova Senha</label>
            <input type="password" class="form-control" id="new_password" name="new_password" required>
        </div>
        <div class="row g-3">
            <div class="offset-8 col-2">
                <a href="javascript:history.back()" class="btn btn-danger btn-lg">Cancelar</a>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-success btn-lg" style="width: 100%;">Salvar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
