{% extends "base.html" %}
{% load static %} 
{% block content %}

<div class="table-container">
  <h1>Usuários</h1>

  <button class="button-registry">
    <a href={% url 'user_create' %}>+ Adicionar Usuário</a>
  </button>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Telefone</th>
        <th scope="col">Email</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for user in user_list %}
      <tr>
        <th scope="row">{{ user.pk }}</th>
        <td>{{ user.name }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.email }}</td>
        <td class="actions">
          <button class="edit-button">
            <a href="{% url 'user_update' pk=user.pk %}" class="btn btn-primary">Editar</a>
          </button>
          
          <button class="delete-button">
            <a href="{% url 'user_delete' pk=user.pk %}" class="btn btn-danger">Excluir</a>
          </button>
         
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
