
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
        <link rel="stylesheet" href="{% static 'css/menu.css' %}">
        {% endblock  %}

    </head>
    <body>
      <div class="container">
        <section class="section-container">
          <div>
            <img src="{% static 'images/LOGO.png' %}" alt="Miha logo">
          </div>
          
  
          <ul>
            <li>
              <a href="">
                Novo Agendamento
              </a>
            </li>
            <li>
              <a href={% url "user_list" %}>
                Usuários
              </a>
            </li>
            <li>
              <a href={% url "room_list" %}>
                Espaços
              </a>
             </li>
            <li>
              <a href="">
                Agendamentos
              </a>
             </li>
            <li>
              <a href={% url "equipment_list" %}>
                Equipamentos
              </a>
            </li>
          </ul>
        
        </section>
        <main class="content">
          {% block content %} {% endblock %}
        </main>
      </div>
      
    </body>
  </html>

