{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
<link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block content %}
<div class="table-container">
  <h1>Agenda</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Ocupante</th>
        <th scope="col">Data de Início</th>
        <th scope="col">Data Final</th>
      </tr>
    </thead>
    <tbody>
        {% for occupancy in occupancys_list %}
        <tr>
            <th scope="row">{{occupancy.pk}}</th>
            <td scope="row">{{occupancy.date_start}}</td>
            <td scope="row">{{occupancy.date_end}}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

  
{% endblock content %}