{% extends "base.html" %}
{% block content %}
{% if form.instance.pk %}
    <h2>Editar Sala<h2>
{% else %}
    <h2>Nova Sala<h2>
{% endif %}

<form method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Detalhes da Sala</legend>
        {{ form.as_p }}
    </fieldset>

    <fieldset>
        <legend>Equipamentos</legend>
        {{ formset.management_form }}
        <div id="equipments">
            {% for form in formset %}
                <div class="equipment-form">
                    {{ form.as_p }}
                </div>
            {% endfor %}
        </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
        const container = document.getElementById("equipments");
        const totalForms = document.querySelector("#id_roomequipment_set-TOTAL_FORMS");
    
        function addForm() {
            let formNum = Number(totalForms.value);
            let newForm = container.children[0].cloneNode(true);
            newForm.innerHTML = newForm.innerHTML.replace(/-\d+-/g, `-${formNum}-`);
            container.appendChild(newForm);
            totalForms.value = formNum + 1;
        }
    
        let addButton = document.createElement("button");
        addButton.textContent = "Adicionar Equipamento";
        addButton.type = "button";
        addButton.onclick = addForm;
        container.after(addButton);
    });
    </script>
{% endblock content %}

