{% extends "base.html" %}
{% block content %}
{% if room.pk %}
    <h2>Editar Sala<h2>
{% else %}
    <h2>Nova Sala<h2>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.nameRoom.label_tag }} {{ form.nameRoom }} <br>
    {{ form.headCount.label_tag }} {{ form.headCount }} <br>

    <label for="id_roomManager">Gerente da Sala:</label>
    <select name="roomManager" id="id_roomManager">
        <option value="" selected>---</option>
        {% for user in form.roomManager.field.queryset %}
            <option value="{{ user.pk }}">{{ user.name }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock content %}

