{% extends "base.html" %}
{% load static %}
{% block content %}
{% if form.instance.pk %}
    <h2>Editar Sala<h2>
{% else %}
    <h2>Nova Sala<h2>
{% endif %}

<form method="post">
    {% csrf_token %}
    <div></div>
    <fieldset>
        <legend>Detalhes da Sala</legend>
        {{ form.as_p }}
    </fieldset>

    <fieldset>
        <legend>Equipamentos</legend>
        {{ formset.management_form }}
        <div id="equipments">
            {% for form in formset %}
                <div class="equipment-form">
                    {{ form.as_p }}
                </div>
            {% endfor %}
        </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>

  <script src="{% static 'js/addItem.js' %}"></script>
{% endblock content %}

