*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.section-container{
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: #4F39F6;
    display: flex;
    flex-direction: column;
}

.section-container img{
    width: 200px;
    height: 100px;
    padding: 1em;
}

.section-container ul{
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style: none; /* Remove a bolinha */
    overflow-y: auto;
    flex-grow: 1; /* Faz com que a lista ocupe o espaço restante */
}

.section-container ul li{
    padding: 1em;
    transition: background-color 0.3s ease; 
    color: white;
}

.section-container ul li:hover{
    background-color: #3A28C9;
    cursor: pointer;
}

a {
    display: flex;
    align-items: center;  /* Alinha o texto e o ícone */
    width: 100%;  
    padding: 0.5em;  /* Aumenta área clicável */
    text-decoration: none; /* Remove sublinhado */
    color: inherit; /* Mantém a cor do texto */
}

/* Estilo específico para o logout */
.logout {
    margin-top: auto; /* Empurra o logout para o final da seção */
    padding: 1em;
}

.logout i {
    font-size: 20px;  /* Tamanho do ícone */
    margin-right: 10px;  /* Espaçamento entre o ícone e o texto */
}

.container-main{
    display: flex;
}

.content {
    margin-left: 220px; /* Empurra o conteúdo para o lado */
    padding: 20px;
    flex-grow: 1;
}
